server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: orl-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: orl
          __path__: /var/log/outer-rim/app/*.log
  - job_name: nginx-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: nginx
          __path__: /var/log/outer-rim/nginx/*.log
