apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: Loki
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090/prometheus
    isDefault: true
    editable: false
    version: 1
    uid: orl-prometheus
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
    version: 1
    uid: orl-loki
